<center>
<h1> Customer List</h1>

<b> Create your customerlist record here</b>

<form action="/save" method="POST">
	
	<label for="customer">customer</label>
	<input name="customer" id="customer" required><br><br>

	<label for="place">Favorite Place</label>
	<input name="place" id="place" required><br><br>

	<label for="food">Favorite Food</label>
	<input name="food" id="food" required><br><br>

	<input type="submit" value="Save">

</form>

<b>Type in the customer and fetch the customerlist</b>
<form action="/get" method="POST">
	<label for="customer">customer</label>
	<input name="customer" id="customer" required><br><br>
	<input type="submit" value="Submit">
</form>

{% if get %}
<font color="blue">The customerlist for <b>{{customer}}</b> is <b>{{place}}</b> and <b>{{food}}</b></font>
<small>{{msg}}</small>
{% endif %}

{% if no_record %}
<font color="red">{{msg}}</font>
{% endif %}

{% if customer_exists %}
<font color="red">customer <b>{{customer}}</b> already exists with the customerlist <b>{{place}}</b> and <b>{{food}}</b></font>
<small>{{msg}}</small>
{% endif %}

{% if saved %}
<font color="green"> Successfully saved data for <b>{{customer}}</b> with customerlist <b>{{place}}</b> and <b>{{food}}</b>!!!</font>
{% endif %}

</center>
<br>
<a href="/keys">Keys</a>
{% if keys %}
	<h3> Keys </h3>
	<small>(From DataBase)</small>
	<ul>
	{% for customer in customers %}
		<li>{{customer}}</li>
	{% endfor %}
	</ul>
{% endif %}
